<link rel='stylesheet' href='/styles/footer.css' />
<div class="footer">
  <a href="https://github.com/chen-robert/stratus" class="footer--icon">
    <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
  </a>
</div>
