<div class="nav">
  <a href="/" class="nav--title">
    <% include logo %>
  </a>
  <a href="/calendar" class="nav--title">
    Calendar
  </a>
  <a href="/tasks" class="nav--title">
    Schedule
  </a>
</div>
