<!DOCTYPE html>
<html>
  <head>
    <title>Welcome <%= title %></title>
    <%- include partials/header %>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <%- include partials/nav %>
    <div class="main">
      <h1 class="main--welcome">Welcome, <%= title %></h1>
      <div class="class-list">
        <div class="class-list--class">
          asdf
        </div>
      </div>
    </div>
  </body>
</html>
