@import "theme";

.nav{
  display: flex;
  padding: 10px;
  font-size: 1.5em;

  color: white;
  background-color: black;
  box-shadow: 5px 10px 18px #ccc;
}

.nav--title{
  align-self: start;
  color: black;
  text-decoration: inherit;
}

.nav--button{
  margin-left: auto !important;
}
