@border-color: #ccc;

.calendar {
  width: 100%;
  padding: 75px;  
  

}

.calendar--title {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 15px;
  user-select: none;

  & #calendar-title {
    display: inline-block;
    width: 200px;
  }
}

.calendar--row {
  display: flex;
  border-bottom: 1px solid @border-color;
  border-left: 1px solid @border-color;

  &:nth-child(2) {
    border-top: 1px solid @border-color;
  }
}

.calendar--cell {
  height: 150px;
  flex: 1;
  border-right: 1px solid @border-color;
}

.calendar--cell__faded {
  color: #ccc;
}

.calendar--cell__today {
  background-color: #eee;
}

.cell--date {
  text-align: center;
  font-size: .8em;
  margin-bottom: 0;
}

.title--btn {
  cursor: pointer;

  &:hover {
    color: gray;
  }
}
.cell--tasks {
  padding: 5px;
}