@import "theme";

#class-data{
  height: 200px;
}

.chart-container{
  width: 50%;
  margin: 0 25%;
}

.assignments{
  width: 100%;
  
  & td{
    text-align: center;
  }
}

.main--header {
  display: flex;
  width: 100%;
  max-width: 1000px;
}

.header--grade {
  font-size: 5em;
  width: 20%;

  display: flex;
  align-items: center;
}

.header--title {
  width: 100%;
  text-align: center;
  margin: 0;
}

.header--subtitle {
  width: 100%;
  text-align: center;
  font-size: .5em;
}

#chart {
  flex: 1;
}
